/* SOFT RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    main {
        flex-grow: 1;
    }
}

/* PARTIALS */
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/utilities';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/home';
@import 'partials/privacy';
@import 'partials/faq';