/* COLORS */

/* GENERAL RULES */

body {
  background: #ffffff;
  color: #1b3c59;
}

/* MIXIN */

/* GENERAL STYLES */

main {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  font-family: "Rubik";
}

h1 {
  font-size: 3.65rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  font-family: "Rubik";
}

h3 {
  font-size: 1.17rem;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  font-family: "Rubik";
}

