/* SOFT RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body main {
  padding: 0 15px;
  flex-grow: 1;
}

/* PARTIALS */

/* COLORS */

/* GENERAL RULES */

body {
  background: #ffffff;
  color: #1b3c59;
}

/* MIXIN */

/* GENERAL STYLES */

main {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  font-family: "Rubik";
}

h1 {
  font-size: 3.78rem;
  font-weight: 300;
  line-height: 1.1;
  text-align: left;
  font-family: "Rubik";
}

h3 {
  font-size: 1.17rem;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  font-family: "Rubik";
}

/* DISPLAY */

.u-flex {
  display: flex;
}

.u-justifyBtw {
  justify-content: space-between;
}

.u-alignCtr {
  align-items: center;
}

.u-container {
  max-width: 1140px;
  margin: 0 auto;
}

.ml-1 {
  margin-left: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.mt-3 {
  margin-top: 15px;
}

.mb-3 {
  margin-bottom: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.mt-4 {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 25px;
}

.mr-5 {
  margin-right: 25px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-5 {
  margin-bottom: 25px;
}

.ml-6 {
  margin-left: 30px;
}

.mr-6 {
  margin-right: 30px;
}

.mt-6 {
  margin-top: 30px;
}

.mb-6 {
  margin-bottom: 30px;
}

.ml-7 {
  margin-left: 35px;
}

.mr-7 {
  margin-right: 35px;
}

.mt-7 {
  margin-top: 35px;
}

.mb-7 {
  margin-bottom: 35px;
}

.ml-8 {
  margin-left: 40px;
}

.mr-8 {
  margin-right: 40px;
}

.mt-8 {
  margin-top: 40px;
}

.mb-8 {
  margin-bottom: 40px;
}

.ml-9 {
  margin-left: 45px;
}

.mr-9 {
  margin-right: 45px;
}

.mt-9 {
  margin-top: 45px;
}

.mb-9 {
  margin-bottom: 45px;
}

.ml-10 {
  margin-left: 50px;
}

.mr-10 {
  margin-right: 50px;
}

.mt-10 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 50px;
}

/* COMPONENTS */

.btn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  font-family: "Rubik";
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #61ce4e;
  border-radius: 5px;
  padding: 10px 30px;
}

.btn:hover {
  background: #73d462;
}

.MainHeader {
  padding: 15px;
  height: 90px;
}

.MainHeader-logo img {
  height: 100%;
}

.MainHeader-nav ul {
  list-style: none;
}

.MainHeader-nav ul li:not(:last-child) {
  margin-left: 5px;
}

.MainHeader-nav ul li:not(:last-child) a {
  padding: 10px 25px;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  font-family: "Rubik";
  text-decoration: none;
  color: #1b3c59;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border 0.2s;
}

.MainHeader-nav ul li:not(:last-child) a:hover,
.MainHeader-nav ul li:not(:last-child) a.isActive {
  border-color: #61ce4e;
}

.MainFooter {
  padding: 70px 0 30px 0;
  background: #1b3c59;
}

.MainFooter > .u-container {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}

.MainFooter-left img {
  max-width: 200px;
}

.MainFooter-left .Addresses {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: "Rubik";
  color: #ffffff;
}

.MainFooter-left .Addresses span {
  display: block;
}

.MainFooter-right ul {
  list-style: none;
}

.MainFooter-right ul li {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
  font-family: "Rubik";
}

.MainFooter-right ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: none;
}

.MainFooter-right ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
  text-transform: none;
}

.Home {
  padding: 80px 0;
}

.Home .Jumbotron {
  width: 100%;
}

.Home .Jumbotron .Jumbotron-text {
  flex-basis: 65%;
}

.Home .Jumbotron .Jumbotron-text h1 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.Home .Jumbotron .Jumbotron-text p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  font-family: "Rubik";
  padding: 20px 0;
}

.Home .Jumbotron .Jumbotron-text ul {
  padding-left: 15px;
  font-size: 1.17rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  font-family: "Rubik";
}

.Home .Jumbotron .Jumbotron-picture {
  align-self: center;
}

.Home .Jumbotron .Jumbotron-picture img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

