.MainHeader {
    padding: 15px;
    height: 90px;
    
}

.MainHeader-logo img {
    height: 100%;
}

.MainHeader-nav {
    ul {
    list-style: none;
        li:not(:last-child) {
            a {
                padding: 10px 25px;
                @include fontFeatures(0.87rem, 400);
                @include linkStyle($col-dark, uppercase);
                border-bottom: 2px solid transparent;
                transition: border .2s;
                &:hover,
                &.isActive {
                    border-color: $col-action;
                }
            }
        }
    }
}