.Home {
    padding: 80px 0;
    .Jumbotron {
        width: 100%;
        .Jumbotron-text {
            flex-basis: 65%;
            h1 {
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            p {
                @include fontFeatures(1.4rem, 500, 1.2);
                padding: 20px 0;
            }
            ul {
                padding-left: 15px;
                @include fontFeatures(1.17rem, 300, 1.5);
            }
        }
        .Jumbotron-picture {
            align-self: center;
            img {
                display: block;
                margin: 0 auto;
                max-width: 90%;
            }
        }
    }
}
