/* DISPLAY */
.u-flex {
    display: flex;
}

.u-justifyBtw {
    justify-content: space-between;
}

.u-alignCtr {
    align-items: center;
}

/* COMPONENTS */
.btn {
    @include fontFeatures(1rem, 400);
    @include linkStyle($col-light, uppercase);
    background: $col-action;
    border-radius: 5px;
    padding:10px 30px;
    &:hover {
        background: lighten($col-action, 5%);
    }
}